*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*NAVBAR START*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: deeppink;
    color: white;
}
.nav-links a{
    color: white;
}
.logo{
    font-size: 32px;
}
.menu{
    display: flex;
}
.menu li:hover{
    background-color: rgb(255, 122, 193);
    border-radius: 5px;
    transition: 0.4s;
}
.menu li{
    padding: 5px 14px;
}
.cate{
    position: relative;
}
.sub-menu{
    width: 200px;
    background-color: rgb(224, 0, 120);
    padding: 7px 0;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 2px 2px #888888;
}
.sub-menu li{
    text-align: center;
    width: auto;
}
.cate:hover .sub-menu{
    display: block;
}
/*RESPONSIVE MENU START*/
input[type=checkbox]{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
}
@media (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        background-color: rgb(224, 0, 120);
        top: 88px;
    }
    .menu li:hover{
        display: inline-block;
    }
    .menu li + li{
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger{
        display: block;
    }
}
/*RESPONSIVE MENU END*/
/*NAVBAR END*/

/*BANNER START*/
.banner{
    padding: 50px;
    text-align: center;
    color: brown;
    font-size: 30px;
    height: 350px;
    background-image: url("https://myphamhalo.vn/wp-content/uploads/2020/02/son-laneige-layering-lip-bar-9.png");
    background-size: cover;
    transition: 0.3s;
}
.banner:hover{
    opacity: 0.9;
    transition: 0.3s;
}
/*BANNER END*/

.title{
    text-align: center;
    background-color: deeppink;
    color: white;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    margin-bottom: 20px;
}

/*product CARD START*/
.content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.product-image{
    width: 100%;
    transition: 0.5s;
}
.card{
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
}
.price{
    color: rgb(177, 0, 0);
    font-size: 22px;
}
.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: deeppink;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.2s;
}
.card button:hover{
  color: #323232;
  background-color: rgb(245, 230, 30);
    transition: 0.2s;
}
.product-image:hover{
    transform: scale(1.05);
}

/*product CARD END*/

/*FOOTER START*/
footer{
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(213, 200, 218);
    color: rgb(27, 26, 26);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content p{
    font-size: 14px;
    color: rgb(27, 26, 26);
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(27, 26, 26);
    border: 1px solid;
    border-radius: 50%;
}
.socials a:hover i{
    color: royalblue;
}
/*FOOTER END*/

/*FORM LOGIN/REGISTER START*/
.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }
  
  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* The triangle form is achieved by a CSS hack */
  .login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: deeppink;
  }
  
  .login-header {
    background: deeppink;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .login-container {
    background: #ebebeb;
    padding: 12px;
  }

  .message-container{
    text-align: center;
    padding: 20px 50px;
  }
  
  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }
  
  .login input, select, textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #888;
  }
  
  .login input[type="submit"] {
    background: deeppink;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .login input[type="submit"]:hover {
    background: deeppink;
  }
  
  /* Buttons' focus effect */
  .login input[type="submit"]:focus {
    border-color: deeppink;
  }
/*FORM LOGIN/REGISTER END*/

/*SINGLE PAGE START*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    height: 700px;
  }
  
  /* Columns */
  .left-column {
    width: 65%;
    position: relative;
  }
  
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
  
  
  /* Left Column */
  .left-column img {
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
  }
  
  /* Right Column */
  
  /* product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  
  /* product Configuration */
  .product-color span,
  .cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* product Color */
  .product-color {
    margin-bottom: 30px;
  }
  
  .color-choose div {
    display: inline-block;
  }
  
  .color-choose input[type="radio"] {
    display: none;
  }
  
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
  
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Cable Configuration */
  .cable-choose {
    margin-bottom: 20px;
  }
  
  .cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
  
  .cable-choose button:hover,
  .cable-choose button:active,
  .cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
  }
  
  .cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  
  .cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
  .cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }
  
  /* product Price */
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .cart-btn {
    display: inline-block;
    background-color: deeppink;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    color: #43474D;
    background-color: rgb(255, 226, 61);
  }
  
  /* Responsive */
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  
    .left-column img {
      width: 150px;
      right: 0;
      top: -50px;
      left: initial;
    }
  }
  
  @media (max-width: 535px) {
    .left-column img {
      width: 120px;
      top: 0;
    }
  }
/*SINGLE PAGE END*/

.error{
  color: red;
}
.success{
  color: green;
}

.search-container {
  text-align: center;
}
.search{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: solid 1px gray;
}

.search-container button {
  text-align: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: solid 1px gray;
  cursor: pointer;
}

/*START TABLE*/
#table {
  border-collapse: collapse;
  width: 97%;
  margin: 20px 20px;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(167, 13, 95);
  color: white;
}
.img-table{
  height: 200px;
}
.rm-item-cart{
  font-size: 25px;
  color: red;
}
.qty{
  width: 40px;
  height: 30px;
  font-size: 20px;
}
/*END TABLE*/
.btn-order{
  border-radius: 5px;
  background-color: #04AA6D;
  color: white;
}

.payment{
  padding-bottom: 20px;
  text-align: center;
}

.payment a{
  font-size: 20px;
}